services:
  database:
    image: postgres:17
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./initdb.d:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432
    env_file:
      - .env
    networks:
      - database_network
  app:
    build:
      context: .
      dockerfile: ops/Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./:/app/
    env_file:
      - .env
    depends_on:
      - database
    networks:
      - database_network

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - database_network
    depends_on:
      - database
    
networks:
  database_network:
    driver: bridge

volumes:
  db_data:
        